*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Utils*/

.spacing{
    padding-top: 4.2rem;
}

.link{
    color: inherit;
    text-decoration: none;
}

.center{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.main-content{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
}

.break-lines {
    white-space: pre-line;
}


/*Classes*/

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
    padding: 1rem 0;
}

.nav-link, .nav-link.active {
    color: white !important;
}

.nav-link.disabled{
    color: rgba(255, 255, 255, 0.466) !important;
}

.heading-navbar{
    font-size: 2rem;
    margin-bottom: 0;
}

/*Livro*/

.sinopse{
    font-size: 14px;
}
