*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(241, 241, 241);
}

a{
    text-decoration: none;
}

/*Utils*/

.spacing{
    padding-top: 4.2rem;
}

.link{
    color: inherit;
}

.link-red{
    color: red;
}

.center{
    text-align: center;
}

.bold{
    color:black;
    font-weight: bold;
}

.label{
    display: block;
    text-align: start;
}

.main-content{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10px;
}

.break-lines {
    white-space: pre-line;
}

.img-thumb{
    max-width: 150px;
}


/*Classes*/

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    color: white;
    padding: 1rem 0;
}

.nav-link, .nav-link.active {
    color: white !important;
}

.nav-link.disabled{
    color: rgba(255, 255, 255, 0.466) !important;
}

.heading-navbar{
    font-size: 2rem;
    margin-bottom: 0;
}

/*Livro*/

.sinopse{
    font-size: 14px;
}

/*messages*/

.alert{
    max-width: 30rem;
    text-align: center;
    margin: 10px auto;
}

.alert.error{
    background: rgba(255, 0, 0, 0.267);
}

.alert.success{
    background: rgba(21, 255, 0, 0.281);
}

.alert.warning{
    background: rgba(255, 255, 0, 0.253);
}


/*Preview*/

.table-preview{
    width: 100%;
}

/*Form*/

.form-wrapper{
    background: white;
    max-width: 50%;
    margin: 0px auto;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
}

.form-item, .btn-form{
    width: 500px;
    margin: 0px auto;
}

.form-item input{
    width: 500px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    padding: 5px;
    padding-left: 10px;
    margin: 5px auto;
}

.errorlist{
    color: rgb(255, 57, 57);
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0.5rem ;

}