{% extends 'base.html' %}
{% load ajfilters %}

{% block title %}Autores{% endblock title %}

{% block content %}

<div class="data-wrapper-100">
    <div class="row mt-4">
        <div class="col">

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Qtd.Livros</th>
                        <th scope="col">Qtd.Paginas</th>
                        <th scope="col">Mais detalhes</th>
                    </tr>


                    {% for autor in page_obj %}
                    <tr>
                        <td scope="row"><a href="{% url "livros:autor" autor.id %}">{{ autor.nome }}</a></td>
                        <td>{{autor.id|contar_livros}}</td>
                        <td>{{autor.id|contar_paginas}}</td>
                        <td>
                            <a href="{% url "livros:autor" autor.id %}">
                                Ver <i class="fas fa-search-plus ml-2"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}