{% extends "base.html" %}

{% block content %}

    <div class="form-wrapper">

        <div>
            <h2 class="center">Adicionar Usuario</h2>
        </div>


        <form class="form" action="{% url "leitores:adicionar" %}" method="post">
            {% csrf_token %}

            {% for field in userform %}
                <div class="form-item">
                    <label class="label" for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}
                </div>
            {% endfor %}


            {% for field in leitorform %}
                <div class="form-item">
                    <label class="label" for="{{field.id_for_label}}">{{field.label}}</label>
                    {{field}}
                </div>
            {% endfor %}

            <div class="form-item">
                 <button type="submit" class="btn btn-primary mt-3" style="width: 500px;">Enviar</button>
            </div>
        </form>
    </div>

{% endblock content %}