<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <h1 class="heading-navbar"><a class="link" href="{% url "livros:index" %}">Biblioteca</a></h1>
        <div class="row">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 col">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Livros
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Adicionar Livro</a></li>
                        <li><a class="dropdown-item" href="#">Adicionar Autor</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url "livros:ver_autores" %}">Ver Autores</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Emprestimos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Criar emprestimos</a></li>
                        <li><a class="dropdown-item" href="#">Consultar emprestimos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Ver emprestimos atrasados</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Adicionar Usuario</a></li>
                        <li><a class="dropdown-item" href="#">Consultar Usuario</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Ver Usuarios Pendurados</a></li>
                    </ul>
                </li>
            </ul>
            
            <form class="d-flex col" role="search">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                <button class="btn btn-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="spacing"></div>